### https://raw.github.com/github/gitignore/f5496031c8b8ed73ef2856c0113e39dd0184b3e3/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VS Code
.history

# Tests
.tests

# Artifact
bin
